* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #add8e6;
    padding: 20px 0;
}

nav {
    background-color: #daa520;
    border: 1px dashed black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar__links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar__links a {
    text-decoration: none;
    color: black;
}

.hero {
    background-color: #00008b;
    padding: 100px 0;
}

.hero__content {
    background-color: #ee82ee;
    width: 900px;
    border: 1px dashed black;
    height: 400px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
}

.section--grey {
    background-color: #d3d3d3;
}

.card {
    display: flex;
}

.card__3su5 {
    background-color: #1e90ff;
    border: 1px dashed black;
    height: 500px;
    flex-basis: 60%;
}

.card__2su5 {
    background-color: #ffc0cb;
    border: 1px dashed black;
    flex-grow: 1;
}

.card--reverse {
    flex-direction: row-reverse;
}

.card__5su5 {
    background-color: #228b22;
    border: 1px dashed black;
    height: 900px;
    flex-basis: 100%;
}




