* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #add8e6;
    padding: 20px 0;
}

nav {
    background-color: #daa520;
    border: 1px dashed black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar__links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar__links a {
    text-decoration: none;
    color: black;
}

.hero {
    background-color: #00008b;
    padding: 100px 0;
}

.hero__content {
    background-color: #ee82ee;
    width: 900px;
    border: 1px dashed black;
    height: 400px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
}

.section--grey {
    background-color: #d3d3d3;
}

.card {
    display: flex;
}

.card__3su5 {
    background-color: #1e90ff;
    border: 1px dashed black;
    height: 500px;
    flex-basis: 60%;
}

.card__2su5 {
    background-color: #ffc0cb;
    border: 1px dashed black;
    flex-grow: 1;
}

.card--reverse {
    flex-direction: row-reverse;
}

.card__5su5 {
    background-color: #228b22;
    border: 1px dashed black;
    height: 900px;
    flex-basis: 100%;
}

footer {
    background-color: #23272a;
    padding: 5px 0 20px;
}

.footer__big {
    padding: 0 0 50px;
    border-bottom: 1px solid grey;
}

.footer__small {
    padding: 50px 0 0;
}

.footer__card2su6 {
    background-color: #f08080;
    border: 1px dashed black;
    flex-basis: 33%;
    height: 575px;
}

.footer__card1su6 {
    background-color: #20b2aa;
    border: 1px dashed white;
    flex-grow: 1;
}

.footer__bar {
    background-color: #7fffd4;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    background-color: #ffb6c1;
    border: 1px dashed black;
    padding: 10px;
}

.footer__button {
    background-color: #ffb6c1;
    border: 1px dashed black;
    padding: 10px;
}






